*{
    box-sizing: border-box;
}
main{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
overflow: hidden;
margin: 50px 0;
    
}
div.card{
    height: 80vh;
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    flex: 5%;
    position: relative;
    transition: flex 1s ease-in  ;
    

    
}
.cardDiv{
    display: flex;
    width: 90vw;
    height: 100vh;
}
.card.active{
    background-size:100% 100%;
    flex: 70%;

}


.card p{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(189, 209, 218);
    background-color: rgb(8, 75, 102);
    opacity: 0;
}
.card.active p{
opacity: 1;
  transition:opacity 1s ease-in;
}

header{
    height: 200px;
    background-color :rgb(8, 75, 102); 
    color:silver;
    
    display: flex;
  justify-content: center;
    
    align-items: center;
}
header h1{
    
    flex-direction: column;
    align-content: center;
}


